{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a student currently studying in class 10th. I am outgoing, dedicated, and open-minded. I like to welcome amends.  I believe that a person should work on developing their professional skills and learning new things all the time. </p>
        <p>I have a few skills which are I play Video Games, Football, Cricket. I do running. I am not a consistent runner but still I do run to keep myself fit and for sure I am involved in Programming stuff.</p>
        <p>I Have lot of interests the major ones are about Finance, Current-Political-Affairs, Maths and Physics in memes only. I am not much of a social person but sometimes I do have Deep Conversations.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}