{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit: %}
              <h1>Edit Post</h1>
            {% else: %}
              <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post">
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='body') }}
          <div style="color: red"> {% with messages = get_flashed_messages() %} {{ messages[0] }} {% endwith %} </div>
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>

          <!-- This is where the form will go -->

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}